.olSpinner {
    position: absolute;
    margin-top: var(--mantine-spacing-md);
    padding: var(--mantine-spacing-sm);
    width: 100%;
    z-index: 1;
}

.olHidden {
    display: none;
}

.cardLink {
    text-decoration: none;
}

.card:hover {
    box-shadow: var(--mantine-shadow-sm);
    transition: ease-in-out 100ms;
}
