.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-md);
    color: var(--mantine-color-gray-7);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    font-weight: 500;
    border-radius: var(--mantine-radius-default);
}

.link:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-default-color);
}

 .link:hover .linkIcon {
    color: var(--mantine-color-default-color);
 }

.linkIcon {
    color: var(--mantine-color-gray-6);
}

.linkActive, .linkActive .linkIcon, .linkActive:hover {
    background-color: var(--mantine-color-gray-2);
    color: var(--mantine-color-default-color);
}
