.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-md);
    color: var(--mantine-color-gray-7);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    font-weight: 500;
}

.link:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-black-filled);
}

.linkIcon {
    color: var(--mantine-color-gray-6);
}

.linkActive:hover {
    color: var(--mantine-color-default-color);
}

.linkActive:hover .linkIcon {
    color: var(--mantine-color-default-color);
}
