.navbar {
    box-shadow: 2px 2px 2px var(--mantine-color-gray-0);
}

.header {
    padding: var(--mantine-spacing-md);
    margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
}

.footer {
    padding-top: var(--mantine-spacing-md);
    margin-top: var(--mantine-spacing-md);
}
